# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
**/node_modules

# testing
**/coverage

# production
**/build
!**/codebuild/build
**/dist
**/*.zip

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
.chrome/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
lint-report*
aws.out
*.log
reports/

# misc
.DS_Store
Thumbs.db
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#java / maven
target
dependency-reduced-pom.xml
